.mynav{
    background-color: #eee;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 10px 10px 5px #e1cece;

}
.card{
    width: 18rem;
}
.mycard .card .card-body .btn{
    margin-bottom: 10%;
    margin-left: 20%;
    text-align: center;
}   