.exm ul li{
  font-size: 30px;
  color: greenyellow !important;
}
.exm p{
  font-size: 30px;
  color: greenyellow;
}

p{
  font-size: 40px;
  color: red;

}

.exm1{
  height: 70px;
  background-color: red;

}